.input-fields {
  width: 60%;
  margin-top: 25px;
  padding: 10px;
}

#root > div.columns.no-column-margin > div.column.is-four-fifths.main-section > div > div.columns > div.column.is-8 > div > div > div.ant-collapse-item.ant-collapse-item-active > div.ant-collapse-content.ant-collapse-content-active > div > div > div {
    margin: 3px;
}

#root > div.columns.no-column-margin > div.column.is-four-fifths.main-section > div > div.columns > div.column.is-8 > div > div > div.ant-collapse-item.ant-collapse-item-active > div.ant-collapse-content.ant-collapse-content-active > div > div {
  margin: 3px;
}