body {
  padding: 0;
  margin: 0;
}
.link {
  color: black
}


html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  
  background: transparent;  
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.theme-color {
  color: rgb(30, 21, 73)
}

.theme-color-background {
  background-color: rgb(30, 21, 73)!important
}

.active-CLASS {
  color: red;
  background-color: red;
}

.shadow {
  box-shadow: 0 1px 5px rgb(177, 176, 176);
}

.styled-theme-background {
  background-image: url("https://www.transparenttextures.com/patterns/black-thread.png");
}

//  ------------------- GENERIC LAYOUT AND POSITIONING CLASSES -------------------------
.no-padding {
  padding: 0
}

.centered {
  text-align: center;
}

.top2margin {
  margin-top: 20px;
}

.no-column-margin {
  margin: 0
}

//  ------------------- BACKGROUNDS -------------------------
.main-section {
  background-color: rgba(231, 231, 231, 0.747);
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  height: 100vh;
 }

 .sub-section {
  background-color: rgba(231, 231, 231, 0.747);
  
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
 }

.clear-background {
  background-color: white;
}


//  ------------------- FONT WEIGHTS -------------------------

.thin-sub-text {
  font-weight: 300;
}

.normal-sub-text {
  font-weight: 800;
}