

.pink {
  background-color: rgb(167, 97, 97);
}

.flex-center {
 justify-content: center;
}

.full-height-form {
  height: 340px;
}

input[type="file"] {
  display: none;
}

.avatar-upload {
  border-radius: 50%;
  height: 150px;
  width:150px;
  margin-top: 15px;
}

.avatar-upload-button {
  margin-top: 20px
}

#root > div.columns.main-section > div > div > div.MuiPaper-root.MuiStepper-root.MuiStepper-horizontal.MuiPaper-elevation0 {
  background-color: rgb(209, 207, 219);
  color: navy
}